<%= simple_form_for @customer do |f| %>
  <% if @customer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@customer.errors.count, "error") %> prohibited
      this customer from being saved:</h2>
    <ul>
    <% @customer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label "Address line 1" %>
      <%= f.text_field :address1, class: 'form-control' %>
      <%= f.label "Address line 2" %>
      <%= f.text_field :address2, class: 'form-control' %>
      <%= f.label :city %>
      <%= f.text_field :address2, class: 'form-control' %>
      <%= f.label :postcode %>
      <%= f.text_field :postcode, class: 'form-control' %>
      <%= f.label "Country" %>
      <%= f.collection_select :country_id, Country.all, :id, :name, {}, { :class => 'form-control' } %>       
    </div>
     <%= link_to 'Cancel', customers_path, :class => 'btn btn-default' %>
     <%= f.submit 'Save', :class => 'btn btn-primary right' %>
<% end %>