<%= simple_form_for [@customer, @contact] do |f| %>
<% if @contact.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@contact.errors.count, "error") %> prohibited
    this contact entry from being saved:</h2>
    <ul>
      <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.input :contacted_on, label: 'Date', order: [:day, :month, :year], :autofocus => true, class: 'form-control' %>
    <%= f.input :discussed, label: 'Discussed', size: '60x10', class: 'form-control', :input_html => { :style => 'width:100%', :rows => 10 } %>
    <%= f.input :next_contact, label: 'Please Contact On', order: [:day, :month, :year], class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :completed, label: 'Completed', as: :boolean, boolean_style: :inline%>
  </div>
  <%= link_to 'Cancel', customer_contacts_path, :class => 'btn btn-default' %>
  <%= f.button :submit, 'Save', :class => 'btn btn-primary right' %>
  <% end %>