  <h3>Contact entries for <%= @customer.name %></h3>

  <div class="table-responsive">
    <table class="table">
      <thead class="bg-primary">
        <th>Done</th>
        <th>Date</th>
        <th>Discussed</th>
        <th>Next Contact Date</th>        
        <th class="text-right">Actions</th>
      </thead>
      <tbody class="text-left">
        <% @contacts.each do |contact| %>
        <tr>
          <%= render contact %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @contacts %>
  </div>
  <%= link_to 'Add New Entry', new_customer_contact_path, :class => 'btn btn-primary' %>
  <%= link_to 'Back to Customers', customers_path, :class => 'btn btn-default' %>

