<%# add navigation links to this file %>
<% if user_signed_in? %>
<li><%= link_to 'Customers', customers_path %></li>
<li><%= link_to 'Orders', countries_path %></li>
<li><%= link_to 'Products', products_path %></li>
<% end %>
<% if user_signed_in? %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
  <ul class="dropdown-menu">
   <li><%= link_to 'Users', users_path %></li>
   <li class="divider"></li>
   <li><%= link_to 'Countries', countries_path %></li>
   <li><%= link_to 'Categories', categories_path %></li>
 </ul>
</li>
<li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
<li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>